# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dependencies
node_modules
/frontend/node_modules

# Python / AI / Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
# AI Preprocessing / Training (Exclusion)
!ai_training/*.py
Datasets/
# Allow backend/trained_models to be pushed
!backend/trained_models/
# Ignore huge AI training datasets
ai_training/*.pickle
ai_training/*.pkl
# *.pt
# *.tflite
# *.pickle
# *.pkl

# Database
papago.db
*.sqlite3

# Test / Debug Logs
test_log*.txt
loader_debug.txt
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Vite / Frontend Build
/frontend/dist
/frontend/dist-ssr
*.local

# System/Misc
.DS_Store
Thumbs.db
demo.zip
.gemini/
.agent/
